ayushcare-app/node_modules/
ayushcare-app/dist/

ayush-backend/node_modules/
ayush-backend/.env



node_modules/
dist/
build/


.vscode/


node_modules/
.env
.env.*
!.env.example

dist/
build/

uploads/
*.log
